*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    display: flex;
    justify-content: center;
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
}

.container {
    min-height: 100vh;
}

footer {
    margin-top: auto;
   background-color: darkgray;
}

.single-movie-results > h2 {
    text-align: center;
}

.single-movie-info {
    display: flex;
    flex-direction: column;
}

.youtube-video {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.youtube-reviews {
    max-height: 500px;
    overflow-y: scroll;
}

.youtube-trailer-container {
    max-width: 100%;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.youtube-review-item {
    display: grid;
    grid-template-columns: 120px auto;
}

.youtube-review-thumbnail-container {
    width: 120px;
    height: 90px;
    position: relative;
}

.youtube-review-thumbnail-duration-container {
    width: 120px;
    height: 90px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.youtube-review-thumbnail-duration {
    position: absolute;
    top: 65px;
    right: 0px;
    margin-left: auto;
    max-width: min-content;
    color: white;
    background-color: black;
}

.multi-movie-result-item {
    display: flex;
    flex-direction: column;
}

.movie-poster {
    display: block;
    width: 100%;
}

.movie-poster-search {
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.select-container {
    display: flex;
    justify-content: space-evenly;
}

.search-results {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
}



@media screen and (min-width: 700px) {
    .single-movie-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .youtube-reviews {
        grid-area: reviews / 2 / 2;
    }

    .single-movie-text {
        width: 100%;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 200px auto;
    }

    .movie-poster {
        width: 200px;
        height: 300px;
    }

    .search-results-grid {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1300px) {

    .single-movie-info {
        max-width: 50%;
    }

    .youtube-trailer-container{
        max-width: 50%;
        padding-bottom: 28.125%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-results-grid {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1600px) {

    .search-results-grid {
        grid-template-columns: repeat(4, 23%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1900px) {

    .search-results-grid {
        grid-template-columns: repeat(5, 17%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 2200px) {

    .search-results-grid {
        grid-template-columns: repeat(6, 14%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 2500px) {

    .search-results-grid {
        grid-template-columns: repeat(7, 12%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 3800px) {

    .search-results-grid {
        grid-template-columns: repeat(10, 9%);
        justify-content: space-around;
    }
}