*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

header {
    display: flex;
    justify-content: center;
}

.fixed-header {
    width: 100%;
    padding-top: 10px;
    position: relative;
    top: 0px;
}

.logo {
    width: 301px;
    height: 222px;
}

.container {
    min-height: 100vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    z-index: 3;
}

.parallax {
    height: 60vh;
}

.parallax::before {

    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */ 
    z-index: -1;
    background-image: url('images/bg.jpg');
  }

footer {
    text-align: center;
}

.single-movie-results {
    padding-top: 20px;
}

.single-movie-results > h2 {
    text-align: center;
}

.single-movie-results > h3 {
    text-align: center;
}

.single-movie-info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.single-movie-description {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.cast-list {
 display: grid;
 grid-template-columns: 60px auto auto;
}
.cast-list > img {
    margin: 5px;
    max-width: 50px;
    height: auto;
}

.cast-list > p {
    margin: 10px;
    display: flex;
    align-items: center;
}

.single-movie-budglength {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.runtime-icon {
    width: 24px;
    height: 24px;
}

.budget-para {
    display: block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.autocomplete-data {
    text-align: center;
}

.youtube-video {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.youtube-reviews {
    max-height: 500px;
    overflow-y: scroll;
    padding: 20px;
}

.youtube-trailer-container {
    max-width: 100%;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    margin-top: 20px;
}

.youtube-review-item {
    display: grid;
    grid-template-columns: 120px auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

.youtube-review-thumbnail-container {
    width: 120px;
    height: 90px;
    position: relative;
}

.youtube-review-thumbnail-duration-container {
    width: 120px;
    height: 90px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 5;
}

.youtube-review-thumbnail-duration {
    position: absolute;
    top: 65px;
    right: 0px;
    margin-left: auto;
    max-width: min-content;
}

.youtube-review-title-container {
    padding: 0px 10px 10px 10px;
}

.youtube-trailer-autoplay {
    display: none;
}

.youtube-trailer-autoplay:checked + label > .autoplay-off {
    display: none;
}

.youtube-trailer-autoplay:not(:checked) + label > .autoplay-on {
    display: none;
}

.autoplay-container {
    max-height: 40px;
    margin-bottom: 2px;
}

.multi-movie-result-item {
    display: flex;
    flex-direction: column;
}

.movie-poster {
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.movie-poster-search {
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.select-container {
    display: grid;
    grid-template-columns: repeat(2, auto) 102px;
    grid-template-rows: repeat(3, auto);
    padding-bottom: 20px;
}

.search-results {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.search-results-grid {
    padding-top: 15px;
}

.tmdb-review-item {
    margin-bottom: 15px;
}

.tmdb-hidden {
    display: none;
}

.review-header {
    padding: 15px;
}

.user-search-container {
    position: relative;
    height: 42px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.user-search {
    position: absolute;
    right: 102px;
    left: 2px;
    top: 2px;
    height: 38px;
    z-index: 2;
    display: block;
    min-width: 50%;
    max-width: 75%;
}

.submit-search {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 100px;
    height: 40px;
    margin: 0px;
    z-index: 2;
    display: block;
}

.autoplay-container {
    margin-left: auto;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row: 2;
}

.autoplay-button {
    width: 102px;
    height: 40px;
    margin: 0px;
}

.search-inner-border{
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    margin: 0px;
}

.custom-list {
    position: relative;
    display: block;
    max-height: 40px;
}

.custom-list > select {
    display: block;
    width: 100%;
}

.custom-list:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
  }

.genre-custom-list {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.year-custom-list {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media screen and (min-width: 700px) {
    .single-movie-info {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .single-movie-text {
        width: 100%;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto auto;
    }

    .review-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .movie-poster {
        width: 200px;
        height: 300px;
    }

    .search-results-grid {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1300px) {

    .single-movie-info {
        width: 100%;
    }

    .youtube-trailer-container{
        max-width: 50%;
        padding-bottom: 28.125%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-results {
        margin-left: auto;
        margin-right: auto;
    }

    .search-results-grid {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-around;
    }

    .submit-search {
        grid-row: 2;
        grid-column: 3;
    }

    .select-container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1600px) {

    .search-results-grid {
        grid-template-columns: repeat(4, 23%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 1900px) {

    .search-results-grid {
        grid-template-columns: repeat(5, 17%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 2200px) {

    .search-results-grid {
        grid-template-columns: repeat(6, 14%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 2500px) {

    .search-results-grid {
        grid-template-columns: repeat(7, 12%);
        justify-content: space-around;
    }
}

@media screen and (min-width: 3800px) {

    .search-results-grid {
        grid-template-columns: repeat(10, 9%);
        justify-content: space-around;
    }
}